In [ ]:
!pwd

In [ ]:
import pandas as pd
from dateutil import relativedelta as rdelta
import datetime

In [ ]:
df = pd.read_excel("patients_report_list_new.xlsx")

In [371]:
df.head()

,Patient Number,Date of Service,Scheduled Return Date,DATE,Date of birth,First Name,Gender,State,Address,City,Diagnosis Detail
0,79-0096808,4/18/2016,2/8/2017,True,8/12/1974,Margaret Frazier,Female,New York,0 Westridge Hill,New York City,mild
1,01-1402733,2016-02-26 00:00:00,2016-08-30 00:00:00,False,7/31/1973,Johnny Bradley,Male,California,57498 Banding Court,Stockton,serious
2,41-0477300,3/8/2016,2/18/2017,True,8/13/1954,Gregory Rose,Male,Ohio,93 Red Cloud Alley,Columbus,mild
3,40-5336702,10/8/2016,2017-01-07 00:00:00,True,10/24/1971,Sharon Clark,Female,Alabama,3957 Fisk Alley,Birmingham,normal
4,99-3992926,2016-11-23 00:00:00,1/23/2017,False,8/7/1984,Earl Hayes,Male,Mississippi,8398 Service Place,Columbus,mild

In [372]:
import datetime

In [373]:
df["Scheduled Return Date"] = df["Scheduled Return Date"].astype(str)
df["Date of Service"] = df["Date of Service"].astype(str)
df["Date of birth"] = df["Date of birth"].astype(str)

In [374]:
df["Scheduled Return Date"].unique()

array(['2/8/2017', '2016-08-30 00:00:00', '2/18/2017',
       '2017-01-07 00:00:00', '1/23/2017', '2017-01-06 00:00:00',
       '10/16/2016', '3/14/2017', '4/5/2017', '1/18/2017',
       '2017-03-09 00:00:00', '2016-07-17 00:00:00', '2017-03-11 00:00:00',
       '3/3/2017', '3/28/2017', '6/22/2017', '7/21/2017', '11/18/2016',
       '1/6/2017', '5/6/2017', '2/4/2017', '2016-10-18 00:00:00',
       '2/11/2017', '11/25/2016', '7/31/2017', '2017-01-28 00:00:00',
       '2016-12-30 00:00:00', '4/25/2017', '2016-12-29 00:00:00',
       '2016-12-01 00:00:00', '6/20/2017', '11/20/2016', '12/24/2016',
       '5/9/2017', '12/27/2016', '12/22/2016', '10/7/2016', '1/21/2017',
       '2017-03-19 00:00:00', '2/26/2017', '5/7/2017', '11/15/2016',
       '2017-01-20 00:00:00', '6/16/2017', '4/19/2017',
       '2016-12-05 00:00:00', '3/27/2017', '2016-12-24 00:00:00',
       '3/7/2017', '4/16/2017', '7/2/2017', '10/12/2016', '11/16/2016',
       '6/8/2017', '2016-12-12 00:00:00', '2/20/2017', '2/22/2017',
       '2016-12-22 00:00:00', '10/22/2016', '2/6/2017',
       '2017-03-27 00:00:00', '6/17/2017', '4/2/2017',
       '2017-01-27 00:00:00', '1/26/2017', '7/1/2017',
       '2016-11-01 00:00:00', '6/19/2017', '2017-01-30 00:00:00',
       '10/15/2016', '2/17/2017', '1/28/2017', '2017-01-09 00:00:00',
       '4/13/2017', '1/11/2017', '2016-12-15 00:00:00', '1/14/2017',
       '6/11/2017', '11/28/2016', '12/14/2016', '2/3/2017',
       '2017-01-25 00:00:00', '6/29/2017', '7/22/2017',
       '2016-12-06 00:00:00', '2016-12-04 00:00:00', '2017-01-29 00:00:00',
       '2016-12-31 00:00:00', '2016-12-13 00:00:00', '2017-02-03 00:00:00',
       '2017-01-14 00:00:00', '1/12/2017', '6/2/2017',
       '2017-01-03 00:00:00', '5/26/2017', '5/20/2017', '7/5/2017',
       '4/22/2017', '2017-07-01 00:00:00', '2016-10-11 00:00:00',
       '1/29/2017', '2017-03-12 00:00:00', '6/4/2017',
       '2017-01-17 00:00:00', '1/10/2017', '6/26/2017', '7/23/2017',
       '3/10/2017', '5/3/2017', '2016-12-09 00:00:00', '7/4/2017',
       '5/31/2017', '3/2/2017', '12/11/2016', '3/6/2017', '1/8/2017',
       '2017-02-04 00:00:00', '2017-02-28 00:00:00', '11/29/2016',
       '7/20/2017', '5/23/2017', '5/22/2017', '7/26/2017', '1/20/2017',
       '2016-12-23 00:00:00', '1/27/2017', '4/14/2017', '1/3/2017',
       '6/7/2017', '7/15/2017', '4/26/2017', '6/24/2017', '11/11/2016',
       '3/24/2017', '12/4/2016', '4/20/2017', '5/28/2017', '11/19/2016',
       '6/6/2017', '5/12/2016', '1/30/2017', '3/12/2017', '5/4/2017',
       '4/17/2017', '5/12/2017', '10/11/2016', '10/9/2016', '5/30/2017',
       '5/1/2017', '4/18/2017', '9/11/2016', '5/24/2017', '11/2/2016',
       '2/21/2017', '3/20/2017', '7/29/2017', '2/12/2017', '11/4/2016',
       '5/24/2016', '12/6/2016', '12/17/2016', '7/13/2016', '5/7/2016',
       '5/31/2016', '2016-12-10 00:00:00', '10/29/2016', '6/31/2016',
       '12/2/2016', '8/8/2016', '10/18/2016', '8/2/2016', '4/27/2017',
       '2/9/2017', '1/16/2017', '10/25/2016', '6/27/2017', '6/13/2017',
       '11/6/2016', '11/3/2016', '6/1/2017', '10/17/2016', '5/27/2017',
       '1/22/2017', '2017-02-06 00:00:00', '12/26/2016', '10/10/2016',
       '10/14/2016', '2017-07-15 00:00:00', '2017-10-01 00:00:00',
       '5/18/2017', '5/8/2017', '1/5/2017', '5/2/2017',
       '2017-01-13 00:00:00', '7/7/2017', '1/31/2017', '4/6/2017',
       '2/5/2017', '5/5/2017', '2017-08-24 00:00:00',
       '2016-12-19 00:00:00', '11/12/2016', '5/10/2017', '10/23/2016',
       '2017-01-15 00:00:00', '2/25/2017', '1/25/2017', '10/2/2016',
       '6/28/2016', '2017-10-17 00:00:00', '2017-04-05 00:00:00',
       '2017-10-26 00:00:00', '2017-05-29 00:00:00', '2016-10-02 00:00:00',
       '12/3/2016', '2017-10-28 00:00:00', '2017-01-04 00:00:00',
       '2017-06-09 00:00:00', '2017-06-20 00:00:00', '2017-01-26 00:00:00',
       '4/24/2017', '12/31/2016', '8/22/2016', '2016-12-26 00:00:00',
       '9/14/2016', '12/15/2016', '3/1/2017', '4/3/2017', '6/14/2017',
       '7/12/2017', '2017-03-24 00:00:00', '7/10/2017',
       '2016-12-27 00:00:00', '2017-01-12 00:00:00', '2017-07-16 00:00:00',
       '2017-02-22 00:00:00', '2017-04-08 00:00:00', '2016-12-16 00:00:00',
       '2017-11-01 00:00:00', '10/3/2016', '12/8/2016',
       '2017-05-12 00:00:00', '6/10/2017', '2017-07-17 00:00:00',
       '3/4/2017', '2/27/2017', '2017-11-18 00:00:00',
       '2017-05-18 00:00:00', '2017-05-14 00:00:00', '10/4/2016',
       '2017-04-24 00:00:00', '2017-12-22 00:00:00', '2017-03-29 00:00:00',
       '2/28/2017', '3/5/2017', '2017-01-01 00:00:00',
       '2017-01-21 00:00:00', '4/30/2017', '1/1/2017', '3/31/2017',
       '2017-03-01 00:00:00', '6/12/2017', '4/12/2017', '12/29/2016',
       '5/29/2017', '2017-01-19 00:00:00', '1/2/2017',
       '2017-02-11 00:00:00', '2016-12-21 00:00:00', '3/21/2017',
       '2016-10-13 00:00:00', '2017-02-13 00:00:00', '4/28/2017',
       '2/19/2017', '10/8/2016', '2017-02-18 00:00:00',
       '2017-02-16 00:00:00', '10/30/2016', '2017-01-08 00:00:00',
       '1/4/2017', '2016-12-25 00:00:00', '6/21/2017', '6/15/2017',
       '12/9/2016', '4/1/2017', '3/13/2017', '4/23/2017',
       '2016-07-05 00:00:00', '2016-02-12 00:00:00', '10/28/2016',
       '7/25/2016', '2016-12-08 00:00:00', '2/16/2017',
       '2017-02-21 00:00:00', '7/28/2017', '11/30/2016', '7/27/2017',
       '6/25/2017', '5/15/2017', '2017-06-17 00:00:00',
       '2017-05-21 00:00:00', '11/24/2016', '5/19/2017', '1/24/2017',
       '2017-01-31 00:00:00', '2016-12-14 00:00:00', '12/10/2016',
       '2017-08-06 00:00:00', '3/29/2017', '2016-12-17 00:00:00',
       '6/5/2017'], dtype=object)

In [375]:
date1 = datetime.datetime.strptime("4/18/2016","%M/%d/%Y")

In [376]:
date2 = datetime.datetime.strptime('2017-02-08 00:00:00',"%Y-%m-%d %H:%M:%S")

In [377]:
(date2 - date1).days

386

In [378]:
def cleanDate(someDate):
    if someDate == None:
        return someDate

    if "/" in someDate:
        finalDate = datetime.datetime.strptime(someDate,"%M/%d/%Y")
    else:
        finalDate = datetime.datetime.strptime(someDate,"%Y-%m-%d %H:%M:%S")
    return finalDate

In [379]:
df['Date of birth'] = df["Date of birth"].apply(cleanDate)

In [380]:
df["Scheduled Return Date"] = df["Scheduled Return Date"].apply(cleanDate)

In [381]:
df["Date of Service"] = df["Date of Service"].apply(cleanDate)

In [382]:
todayDate = datetime.datetime.now()

In [383]:
df.head()

,Patient Number,Date of Service,Scheduled Return Date,DATE,Date of birth,First Name,Gender,State,Address,City,Diagnosis Detail
0,79-0096808,2016-01-18 00:04:00,2017-01-08 00:02:00,True,1974-01-12 00:08:00,Margaret Frazier,Female,New York,0 Westridge Hill,New York City,mild
1,01-1402733,2016-02-26 00:00:00,2016-08-30 00:00:00,False,1973-01-31 00:07:00,Johnny Bradley,Male,California,57498 Banding Court,Stockton,serious
2,41-0477300,2016-01-08 00:03:00,2017-01-18 00:02:00,True,1954-01-13 00:08:00,Gregory Rose,Male,Ohio,93 Red Cloud Alley,Columbus,mild
3,40-5336702,2016-01-08 00:10:00,2017-01-07 00:00:00,True,1971-01-24 00:10:00,Sharon Clark,Female,Alabama,3957 Fisk Alley,Birmingham,normal
4,99-3992926,2016-11-23 00:00:00,2017-01-23 00:01:00,False,1984-01-07 00:08:00,Earl Hayes,Male,Mississippi,8398 Service Place,Columbus,mild

In [353]:
def getDateDelta(x):
    dateOfService = x[0]
    scheduledDate = x[1]
    return (scheduledDate - dateOfService).days

In [354]:
df["dateToReturn"] = df[["Date of Service","Scheduled Return Date"]].apply(getDateDelta, axis = 1)

In [355]:
import datetime
import dateutil

def birthday(date):
    # Get the current date
    now = datetime.datetime.now()

    # Get the difference between the current date and the birthday
    age = dateutil.relativedelta.relativedelta(now, date)
    age = age.years

    return age

df['Age'] = df['Date of birth'].apply(birthday)

In [356]:
df['Age'].max()

65

In [357]:
diagnosisDictionary = {"normal" : 1, "mild" : 2, "serious" : 3, 'grave' : 4  }

diagnosisDictionary["normal"]
diagnosisDictionary["mild"]

2

In [358]:
diagnosisDictionary = {"normal" : 1, "mild" : 2, "serious" : 3, 'grave' : 4  }


def diagnosisToInt(code):
    code = code.strip()
    return diagnosisDictionary[code]
    
ColumnsToKeep = ["dateToReturn", "Age", "Gender", "Diagnosis Detail"]
df["Gender"] = df["Gender"].str.contains("Male").astype(int)
df["Diagnosis Detail"] = df["Diagnosis Detail"].apply(lambda code: diagnosisToInt(code))
                 
df2 = df[ColumnsToKeep]
df2.head()

   dateToReturn  Age  Gender  Diagnosis Detail
0           355   43       0                 2
1           186   44       1                 3
2           375   63       1                 2
3           364   46       0                 1
4            61   33       1                 2

In [359]:
df.groupby("Diagnosis Detail").describe()

                               Age      Gender  dateToReturn
Diagnosis Detail
1                count  150.000000  150.000000    150.000000
                 mean    40.253333    0.400000    297.153333
                 std     13.727544    0.491539    168.150410
                 min     17.000000    0.000000    -88.000000
                 25%     28.250000    0.000000    326.750000
                 50%     40.000000    0.000000    362.000000
                 75%     51.000000    1.000000    375.750000
                 max     65.000000    1.000000    656.000000
2                count  129.000000  129.000000    129.000000
                 mean    41.534884    0.542636    261.976744
                 std     14.215994    0.500121    178.010115
                 min     17.000000    0.000000    -29.000000
                 25%     30.000000    0.000000     22.000000
                 50%     43.000000    1.000000    358.000000
                 75%     52.000000    1.000000    370.000000
                 max     65.000000    1.000000    684.000000
3                count  147.000000  147.000000    147.000000
                 mean    40.374150    0.496599    290.285714
                 std     13.845632    0.501698    175.242493
                 min     17.000000    0.000000   -369.000000
                 25%     28.000000    0.000000    306.500000
                 50%     39.000000    0.000000    357.000000
                 75%     52.500000    1.000000    372.000000
                 max     65.000000    1.000000    715.000000
4                count   74.000000   74.000000     74.000000
                 mean    42.824324    0.540541    268.148649
                 std     15.607654    0.501756    167.257547
                 min     17.000000    0.000000   -185.000000
                 25%     29.000000    0.000000    307.250000
                 50%     45.000000    1.000000    353.000000
                 75%     58.000000    1.000000    364.000000
                 max     64.000000    1.000000    434.000000

In [391]:
df2.head(1)

   dateToReturn  Age  Gender  Diagnosis Detail
0           355   43       0                 2

In [398]:
from sklearn.ensemble import RandomForestClassifier
model=RandomForestClassifier()

In [423]:
dummies = pd.get_dummies(df2['Diagnosis Detail'])
dfModel = df2.join(dummies)
dfModel.head()

   dateToReturn  Age  Gender  Diagnosis Detail  1  2  3  4
0           355   43       0                 2  0  1  0  0
1           186   44       1                 3  0  0  1  0
2           375   63       1                 2  0  1  0  0
3           364   46       0                 1  1  0  0  0
4            61   33       1                 2  0  1  0  0

In [430]:
x = dfModel[dfModel.columns[0:3]]
y1 = dfModel[dfModel.columns[4]]
y2 = dfModel[dfModel.columns[5]]
y3 = dfModel[dfModel.columns[6]]
y4 = dfModel[dfModel.columns[7]]

In [425]:
y1.head(4)

0    0
1    0
2    0
3    1
Name: 1, dtype: uint8

In [435]:
Modely1 = model.fit(x,y1)

In [436]:
Modely2 = model.fit(x, y2)

In [437]:
Modely3 = model.fit(x, y3)

In [444]:
Modely4 = model.fit(x, y4)

In [440]:
Modely1.feature_importances_

array([ 0.60879414,  0.37259025,  0.01861562])

In [441]:
Modely2.feature_importances_

array([ 0.60879414,  0.37259025,  0.01861562])

In [442]:
Modely3.feature_importances_

array([ 0.60879414,  0.37259025,  0.01861562])

In [445]:
Modely4.feature_importances_

array([ 0.60899535,  0.37539399,  0.01561066])

In [448]:
Modely1.metrics.

AttributeError: 'RandomForestClassifier' object has no attribute 'accuracy_score'